body {
  background-color: whitesmoke;
}

.block {
  background-color: whitesmoke;
  border-radius: 16px;
  margin: 8px 8px 0 8px;
  padding: 8px 8px 0 8px;
}

.title {
  text-align: left;
  font-weight: bold;
  color: black;
}

.form {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 16px;
}

.des {
  margin-top: 8px;
}

.table {
  border-spacing: 0;
  margin: 16px 0 0 16px;
}

.tr {
  border: 1px solid #eee;
}

.th {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: left;
  font-weight: normal;
  vertical-align: top;
  width: 33%;
  position: relative;
  /* padding-right: 4em; */
}

.td {
  padding: 0;
  border-bottom: 1px solid #eee;
  width: 33%;
}

.param {
  background: #f2f2f2;
  border: 1px solid #999;
  margin: 0 5px;
  padding: 5px;
  /* box-sizing: border-box; */
  /* min-width: 90%; */
}

.form div {
  width: 100%;
  text-align: center;
}

.result {
  /* border-radius: 100vh; */
  display: inline-block;
  background: #d13415;
  padding: 10px;
  text-align: center;
  color: #fff;
  margin: 5px;
  border: 1px solid;
  cursor: pointer;
  width: 150px;
}

.card {
  background: white;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
}

.article {
  padding: 16px;
  position: relative;
}

.itemlink {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
}

.itemtitle {
  margin-block-start: 0;
  margin-block-end: 4px;
}

.tags {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.taglink {
  /* color: inherit; */
  margin-left: 8px;
  text-decoration: none;
  position: relative;
  background-color: rgb(219, 233, 241);
  border-radius: 6px;
  color: lightcoral;
  padding: 0 4px;
}

.footer {
  margin-right: 16px;
}

.icon {
  width: 12px;
  height: 12px;
}

.pagelist {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 8px 0;
  padding: 0;
}

.pageno {
  display: inline-block;
  border: 1px #ccc solid;
  border-radius: 5px/5px;
  height: 40px;
  line-height: 40px;
  width: 10%;
  text-align: center;
  color: #000053;
}

.pageno button {
  border: none;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 5px/5px;
}

/* .pageno a {
  display: block;
  text-decoration: none;
} */

/* .pageno a:hover {
  color: #fff;
  background-color: #003396;
} */

.lastpageno {
  display: inline-block;
  border: 1px #ccc solid;
  border-radius: 5px/5px;
  height: 40px;
  line-height: 40px;
  width: 10%;
  text-align: center;
  color: #fff;
  background-color: #777;
}
